<main>
  <section id="listNotice">
    <div class="card" style="width: 19rem;">
      <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">aafdsssssssssssss</p>
      </div>
    </div>
  </section>
  <section id="secForm">
    <form id="form-notice" action="" method="post">
      <label for="title">Título</label><br>
      <input id="title" class="inForm" type="text" placeholder="Titulo"><br><br>
      <label for="image">URL Imagen</label><br>
      <input id="image" class="inForm" type="text" placeholder="URL imagen"><br><br>
      <label for="bodyNotice">Cuerpo de la Noticia</label><br>
      <textarea id="bodyNotice" type="text" placeholder="Cuerpo de la noticia"></textarea><br><br>
      <label for="date">Fecha de Publicacion</label><br>
      <input id="date" type="date" placeholder="Fecha de Publicacion"><br><br>
      <button id="publicar" disabled>PUBLICAR</button>
    </form>
  </section>
</main>

