<main>
  <section id="listNotice">
    @for (noticia of listaNoticias; track noticia) {
      <div class="card" style="width: 19rem;">
        <img src={{noticia.image}} width="300px" height="200px" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{noticia.title}}</h5>
          <p class="card-text">{{noticia.text}}</p>
        </div>
      </div>
    }
  </section>
  <section id="secForm">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="image">URL Imagen</label><br>
      <input id="image" class="inForm" type="text" placeholder="URL imagen" formControlName="image"><br><br>
      <label for="title">Título</label><br>
      <input id="title" class="inForm" type="text" placeholder="Titulo" formControlName="title"><br><br>
      <label for="bodyNotice">Cuerpo de la Noticia</label><br>
      <textarea id="bodyNotice" type="text" placeholder="Cuerpo de la noticia" formControlName="text"></textarea><br><br>
      <label for="date">Fecha de Publicacion</label><br>
      <input id="date" type="date" placeholder="Fecha de Publicacion" formControlName="date"><br><br>
      <button id="publicar" type="submit">Publicar</button>
    </form>
  </section>
</main>
